@model LinkedInMVC.ViewModel.HomeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" media="screen" href="../css/stylesheet.css">
<script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
<!--<script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container Home col-md-10">
    <div class="col-md-3 Home__home-left">
        <div class="small-profile-card profile-card-layout col-md-12">

            <img class="small-profile-card__cover" src="../images/lincov.PNG" />


            <div class="col-md-12">
                <img class="small-profile-card__pimage small-profile-card__pimage1" src="../images/pp.png" />
            </div>
            <div class="small-profile-card__content">
                <a class="small-profile-card__nametag">
                    @{ 
                        string name = (Model.ApplicationUser.FirstName+ " "+Model.ApplicationUser.SecondName);
                    }
                    @Html.DisplayFor(n=>name
                              , new
                              {
                                  @class = "small-profile-card__nametag"
                              })
                    @*<Label class="small-profile-card__nametag text-center">
                    @{string.Format(Model.ApplicationUser.FirstName!=null? Model.ApplicationUser.FirstName:"", " "
                              ,Model.ApplicationUser.SecondName!=null? Model.ApplicationUser.SecondName:"");}</Label>*@
                </a>
                <p class="small-profile-card__details">
                    <Label class="small-profile-card__details text-center">Enterprise&Web(Microsoft) Intern at Information Technology Institute (ITI)</Label>
                </p>
            </div>
            <div class="small-profile-card__managecon col-md-12">
                <div class="small-profile-card__managecon__leftside col-md-11">
                    <div class="small-profile-card__leftside-num1">Who's viewed your profile</div>
                    <div class="small-profile-card__leftside-num2">Connections</div>
                    <div class="small-profile-card__leftside-num3" href="">Grow your network</div>
                </div>
                <div class="small-profile-card__managecon-rightside col-md-2">
                    <a class="small-profile-card__managecon-rightside-num4">
                        <Label class="small-profile-card__managecon-rightside-num4">12</Label>
                    </a>
                    <a class="small-profile-card__managecon-rightside-num5">
                        <Label class="small-profile-card__managecon-rightside-num5">222</Label>
                    </a>
                </div>
            </div>
            <div class="small-profile-card__premium">
                <p class="small-profile-card__premium-ptext">Access exclusive tools & insights</p>
                <div class="small-profile-card__premium-linkpremium">
                    <i class="small-profile-card__premium-iconcolor fab fa-linkedin"> </i>
                    Try premium free for 1 month
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-8 d-flex flex-column align-content-center">
        <div class="Home__create-post-sec col-md-12">
            <div class="body-container col-md-12">
                <div class="post-box col-md-12">
                    <div class="post-box__btn-post col-md-6">
                        <span class="post-box__edit-icon"><i class="far fa-edit"></i></span>
                        <a href="#" class="post-box__btn-start-post" data-toggle="modal" data-target="#exampleModal">start a post</a>
                    </div>
                    <span class="post-box__post-media col-md-6">
                        <span class="post-box__btn-share-img"><i class="fas fa-camera"></i></span>
                        <span class="post-box__btn-share-video"><i class="fas fa-video"></i></span>
                    </span>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                       
                        @using (Html.BeginForm("AddPost", "Home", FormMethod.Post, new { @class = "modal-content" }))
                        {
                            <div class="post-box__modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                @Html.TextArea("post.postText" , new { @style = "width:inherit ;height:100px;border:none"
                               , @id = "PostInputText",
                               @type = "text" , @placeholder = "What do you want to talk about..?"
                           })
                                @*<textarea  style = "width:100% ;height:100px;border:none" id="PostInputText" type="text" placeholder="What do you want to talk about..?"></textarea>*@
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary  post-btn">Post</button>
                            </div>
                        }


                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-12 align-content-start">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort by
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button">Top</button>
                    <button class="dropdown-item" type="button">Date</button>
                </div>
            </div>
        </div>
        <div class="Home__posts-sec col-md-12">
            <div class="posts col-md-12 flex-column">
                @if (Model.posts != null)
                 {
                    <text>
                @foreach (LinkedInMVC.Models.Post post in Model.posts)
                {
                    @Html.Partial("_PostPartial", post)
                }
                </text>
                }
            </div>
            @*<div class="posts col-md-12 flex-column">
                    <div class="post pl-5 ">
                        <div class="post__post-main col-md-12">
                            <div class="post-main-head row">
                                <img class="user-photo col-md-2 " src="../images/u.png">
                                <div class="user-data col-md-6 d-flex">
                                    <a class="user-data__user-name" href="#">Souhaila Muhammad</a>
                                    <div class="user-data__user-title">SW Developer</div>
                                </div>
                            </div>
                            <div class="post-main-content col-md-12">
                                This is the first post by Souhaila
                                I love this career and I have to end this damn task right now so let me do this
                            </div>
                            <ul class="social-counts col-md-5 d-flex ">
                                <li>
                                    <span class="num-likes pr-2">50 </span>
                                    <span>Likes</span>
                                </li>
                                <li>
                                    <span class="num-comments pl-2 pr-2">50 </span>
                                    <span>Comments</span>
                                </li>

                            </ul>
                            <div class="feedback-buttons row">
                                <button class="like-button col-md-3">
                                    <i class="far fa-thumbs-up like-button__ilike"></i>
                                    <span> Like </span>
                                </button>
                                <button class="comment-button col-md-3">
                                    <i class="fal fa-comment-alt-lines comment-button__icomment"></i>
                                    <span>Comment</span>
                                </button>
                                <button class="share-button col-md-3">
                                    <i class="fas fa-share share-button__ishare"></i>
                                    <span>  Share</span>
                                </button>
                            </div>
                        </div>
                        <div class="post-reactions col-md-12">
                            <div class="add-Comment ">
                                <div class="user-img-container col-md-3 "><img class="user-photo" src="../images/u.png"></div>
                                <input type="text" name="" class="comment-txt col-md-8" placeholder="Add a comment...">
                            </div>
                        </div>
                    </div>
                </div>*@

        </div>
    </div>
    <div class="col-md-2 Home__home-right">

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
