@model LinkedInMVC.Models.Comment

@{ 
    string name = Model.ApplicationUser.FirstName + " ";
    name += Model.ApplicationUser.SecondName;
    string imgUrl = "../images/" + Model.ApplicationUser.ProfileImage;
    string jobTitle = Model.ApplicationUser.Headline;
}
<div class="comments col-md-12">
    <div class="comment-box col-md-12">
        <div class="comment-box__comment-user-photo col-md-2">
            <img class="comment-box__comment-user-photo" src=@imgUrl />
        </div>
        <div class="comment-box__comment-info col-md-10">
            <div class="comment-box__comment-main-content row">
                <div class="comment-box__comment-user-name">
                    @Html.ActionLink(name, "Details", "Profile", new { id = Model.ApplicationUser.Id }, new { @class = "user-data__user-name" })
                </div>
                <div class="comment-box__comment-headerline">@jobTitle</div>
                <div class="comment-box__comment-content">@Model.CommentText</div>

            </div>
            <div class="comment-box__comment-reactions row">
                <ul class="comment-box__comment-reactions row">
                    <li>
                        <button class="like-button col-md-3">
                            <i class="far fa-thumbs-up like-button__ilike"></i>
                        </button>
                    </li>
                    <li><span> . </span></li>
                    <li>
                        <span class="num-likes pr-2">50 </span>
                        <span>Likes</span>
                    </li>
                    <li> | </li>
                    <li>
                        <button class="comment-button col-md-3">
                            <i class="fal fa-comment-alt-lines comment-button__icomment"></i>
                        </button>
                        <span>.</span>
                        <span class="num-comments pl-2 pr-2">50 </span>
                        <span>Replies</span>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

