@model LinkedInMVC.ViewModel.SearchResultViewModel

<div class="search-result col-md-12">
<img class="search-result__imgCont col-md-1" src="../images/u.png" />

<div class="search-result__user-main-info col-md-7">
    <div class="search-result__user-name">@{string.Format(Model.applicationUser.FirstName, " ", Model.applicationUser.SecondName);}</div>
    <div class="search-result__user-title">@Model.applicationUser.Headline</div>
    <div class="search-result__country">@Model.applicationUser.Country</div>

    <div>
        <i class="far fa-user-friends"></i>
        Mohammed Barakat, Mahmoud Elrefaey, and 98 other shared connections
    </div>
</div>
<button class="search-result__connect-or-msg col-md-2">
    @if (Model.first)
    {
        <p>Message</p>
    }
    else
    {
        <p>Connect</p>
    }
</button>

</div>
