@model List<ConnectionViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach (ConnectionViewModel item in Model)
{

    <label>@item.FirstName</label>
    <label>@item.UserId</label>
}
