$dark-blue:#283e4a;
$white:white;
// $blue:#005E93;
$primary:#005E93;
$linkedcolortext: #006097;
$colorborder:#E1E9EE;
$textcolorlight:#B6B6B6;
$divcolor:#98D8F4;
$bgcolorlighter:#F3F6F8;
//Home Page
$home-background: #E6E9EC;
$primary-grey-home: rgba(0,0,0,.6);
$post-writing: #0073b1;
$post-writer: #696c6f;