.cop-dashb
{
    display: flex;
    justify-content: left;
    align-content: center;
    background-color: white;
    border: 1px solid $textcolorlight;
    flex-direction: column;
    margin-left: 9rem;
    &__db-header
    {
    color:$textcolordarklight;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $textcolorlight;
    padding-top: 1rem;
    height: 5rem;
    }

    &__dbcon
    {
    display: flex;
    justify-content: left;
    align-content: center;
    background-color: white;
    
    flex-direction: column;
    margin: 2rem;
        &__db-1
        {
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid $textcolorlight;
        }

        &__db-2
        {
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid $textcolorlight;
        }
        &__db-footer
        {

        }
    }
}