.connection {
    display: flex;
}

.connection .image-container {
    width: 7.2rem;
    height: 6.8rem;
    margin-right: 2rem;
}

.connection .image {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border-width: 0px;
    border-style: solid;
}

.connection .profile-info {
    width: 55.8797rem;
}

.connection .btn-ignore {
    width: 89.719px;
    height: 39px;
    font-weight: 600;
    font-size: 16px;
    color: rgba(0,0,0,.75);
}

.connection .btn-accept {
    box-shadow: inset 0 0 0 1px #0073b1, inset 0 0 0 1px #006097, inset 0 0 0 1px transparent;
    width: 89.719px;
    height: 39px;
    font-weight: 600;
    font-size: 16px;
    color: #0073b1;
}

.connection .connection-btn {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 15px;
    padding: 7px;
}

.connection {
    background: #fff;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #e6e9ec;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(230, 233, 236);
    padding-bottom: 9px;
}

.connection-card {
    justify-content: center;
}

.connection .remove-conn {
    font-size: 20px;
    color: #cdcfd2;
}
.connection .remove-ddl {
    padding-top: 17px;
    padding-left: 14px;
    cursor:pointer;
}
.connection .dropdown-item {
    font-size: 12px;
}