.div-position {
    /*float:left;
    /*position: fixed;*/
    color: $linkedcolortext;
    background-color: white;
}


.head-text-size {
    font-size: 6rem;
    margin-left: 7rem;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}