.job-page{
    height: 100vh;
    background-color: #F5F5F5;
    .job-container-head{

        margin: 10rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
        background-color: #FFFFFF;
        width: 112.8rem;
        height: fit-content;
        position: absolute;
        box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
        .container-title{
            margin-left: 2.4rem;
            margin-bottom: 3rem;
        }
    }
    .job-container-body{
        display: flex;
        flex-flow: row;
        flex-wrap: wrap; 
        justify-content: space-evenly;
        align-content: flex-start;

    }
}