
.body-container {
}

.post-box {
    background-color: $white;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    line-height: 1.5;
    //width: 500px;
    height: 100px;
    border: 0;

    &__btn-post {
        width: 100%;
        height: 100%;
        padding-right: 7rem;
        width: inherit;
        height: inherit;
        background: 0 0;
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.15);
        color: $post-writer;
        font-size: 1.6rem;
        font-weight: 600;

        &:hover {
            color: $post-writing;
            text-decoration: underline;
            cursor: pointer;

            i, &__btn-start-post, &__edit-icon {
                color: $post-writing;
            }
        }
    }

    &__btn-start-post, &__edit-icon {
        color: $primary-grey-home;
    }

    &__post-media {
        width: inherit;
        height: inherit;
    }

    &__btn-share-img, &__btn-share-video, &__btn-share-file {
        cursor: pointer;
        height: 100%;
        border-right: 1px solid rgba(0, 0, 0, 0.15);
        color: $primary-grey-home;
        font-size: 1.6rem;
        font-weight: 600;
    }

    &__modal-header {
        background: $post-writing;
    }
}

.modal-header {
    background-color: $post-writing !important;
}

.close {
    color: white;
}

.post-btn {
    background-color: $post-writing !important;
}

.post-area {
    width: 500px;
    height: 200px;
}
