.posts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //background-color: #E6E9EC;
}

.post {
    display: flex;
    flex-direction: column;
    background-color: $white;
    width: inherit;
    height: auto;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;

    &__post-main {
        display: flex;
        flex-direction: column;
        background: inherit;
    }
}

.post-main-head {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-bottom: 3px;
}

.user-photo {
    border-radius: 50%;
    height: 3rem;
}

.user-data {
    display: flex;
    flex-direction: column;
    text-align: left;

    &__user-name {
        font-size: 1.4rem;
        font-weight: 600;
        color: rgba(0,0,0,.9);

        &:hover {
            color: $post-writing;
            text-decoration: underline;
        }
    }


    &__user-title {
        color: rgba(0,0,0,.6);
        font-weight: 400;
    }
}

.post-main-content {
    color: rgba(0,0,0,.9);
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.add-Comment {
    display: flex;
}

.comment-txt {
    border-radius: 10px;
}

.like-button, .comment-button, .share-button {
    display: flex;
    border: none;
    background-color: $white;

    &:hover {
        background-color: rgba(207,207,207,.25);
        color: rgba(0,0,0,.75);
    }
}

.active-reaction {
    background-color: transparent;
    color: #0073b1;
}

.feedback-buttons {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: .1px rgba(0,0,0,.04);
    border-top-style: groove;
    color: rgba(0,0,0,.6);
    font-size: 1.4rem;
    line-height: 1.42857;
}

ul, li {
    list-style-type: none;
}

.user-img-container {
    margin-right: -5rem;
    margin-left: -3rem;
}

.social-counts {
    color: rgba(0,0,0,.6);
    font-weight: 400;
}
